<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/groups" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <div class="chat-header-info">
      <div class="header-avatar bg-orange">
        <span>A</span>
      </div>
      <div class="header-text">
        <h2>Analisi Matematica 2</h2>
      </div>
    </div>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>