<ion-content class="bg-light">
  
  <div class="main-wrapper">
    
    <div class="search-container">
      <input type="text" class="custom-input" placeholder="Cerca tra i tuoi gruppi...">
      <div class="search-action-btn">
        <ion-icon name="search"></ion-icon>
      </div>
    </div>

    <div class="cards-list">
      
      <div *ngFor="let g of gruppi" class="custom-card" (click)="onGroupClick(g)">
        
        <div class="icon-box" [ngClass]="g.colorClass">
          <span class="char">{{ g.nome.charAt(0) }}</span>
        </div>

        <div class="card-info">
          <div class="info-header">
            <h4>{{ g.nome }}</h4>
            <span class="time-text">{{ g.tempoTrascorso }}</span>
          </div>
          
          <div class="info-footer">
            <p>
              <span class="sender-bold">{{ g.autoreMessaggio }}: </span>
              {{ g.ultimoMessaggio }}
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fab-elevated">
    <ion-fab-button (click)="onCreateGroup()" class="fab-btn">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
