ion-content {
  // Assicurati che l'immagine sia sempre in assets/images/
  --background: url('/assets/images/sfondo.jpg') no-repeat center center / cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 25px;
  width: 85%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.icon-container {
  margin-bottom: 15px;
  background-color: #ffebeb;
  padding: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-icon {
  font-size: 40px;
  color: rgb(4, 55, 126);
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}

.subtitle {
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-bottom: 25px;
  line-height: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 12px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 5px;
  width: 100%;
  border: 1px solid transparent;

  ion-icon {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
  }

  ion-input {
    --padding-top: 15px;
    --padding-bottom: 15px;
    --placeholder-color: gray;
    --color: black;
  }
}

.input-error-border {
  border-color: red;
}

.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  align-self: flex-start;
  width: 100%;
  
  ion-icon {
    margin-right: 5px;
    font-size: 16px;
  }
}

.error-text {
  color: red;
  font-size: 13px;
}

.success-text {
  color: green;
  font-size: 13px;
}

.submit-btn {
  --background: rgb(4, 55, 126);
  --border-radius: 12px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
  height: 50px;
}

.back-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  ion-icon {
    color: black;
    font-size: 20px;
  }

  span {
    color: black;
    margin-left: 5px;
    font-weight: 600;
  }
}