<ion-content [fullscreen]="true" class="bg-image">
  <div class="overlay">
    <div class="card fade-in">
      <div class="icon-container"><ion-icon name="lock-closed-outline" class="big-icon"></ion-icon></div>
      <h1 class="title">Password dimenticata?</h1>
      <p class="subtitle">Inserisci la tua mail.</p>

      <form (ngSubmit)="handleResetPassword()">
        <div class="input-container">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input name="email" [(ngModel)]="email" placeholder="Email" type="email" inputmode="email" autocorrect="off" required></ion-input>
        </div>

        <div class="message-container" *ngIf="errorMessage"><span class="error-text">{{ errorMessage }}</span></div>
        <div class="message-container" *ngIf="successMessage"><span class="success-text">{{ successMessage }}</span></div>

        <ion-button expand="block" class="submit-btn" type="submit" [disabled]="loading">
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
          <span *ngIf="!loading">Invia Link</span>
        </ion-button>
      </form>

      <div class="back-button" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>Torna al Login</span>
      </div>
    </div>
  </div>
</ion-content>